
.iconfont{
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.dev-list-box{
  position: relative;
  width: 100%;
  height: 100px;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  overflow: hidden;
}
.dev-list-content{
  height: auto;
}
.dev-box{
  width: 220px;
  height: 100px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  i{
    font-size: 30px;
    color: #D82228;
  }
}

.dev-status{
  margin-top: 24px;
  width: 100%;
  height: 500px;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
}
.info-box{
  margin-left: 16px;
}
.dev-name{
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
}
.dev-online{
  font-size: 12px;
  color: rgba(0, 0, 0, 0.65);
  margin-top:2px
}
.dev-num{
  .dev-name;
  font-weight: bold;
}
.dev-num-stu{
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
  span{
    font-weight: bold;
  }
}
.close{
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 48px;
  height: 16px;
  background: rgba(0, 0, 0, 0.06);
  border-radius: 2px 2px 0px 0px;
  border: 1px solid #E8E8E8;
  left: 50%;
  margin-left: -24px;
  font-size: 22px;
  line-height: 16px;
  color: #c2c0c0;
  &:after{
    content: "\e603";
  }
}
.open{
  overflow: visible;
  height: auto;
}
.rotate {
  transform:rotate(180deg);
  -ms-transform:rotate(180deg); 	/* IE 9 */
  -moz-transform:rotate(180deg); 	/* Firefox */
  -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
  -o-transform:rotate(180deg); 	/* Opera */
}

.flex-row-center{
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  align-items:center;
}
//样式继承，也可写成混合形式，直接在样式里写上：.flex-row-center()即可
.status-header{  
  &:extend(.flex-row-center);

  position: relative;
  height: 40px;
  background: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  padding-left: 20px;

  .on-stu::before{
    content: "";
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-right: 5px;
    background-color: rgb(132, 192, 42);
    border-radius: 50%;
  }
  .off-stu::before{
    content: "";
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-right: 5px;
    margin-left: 10px;
    background-color: rgb(119, 119, 119);
    border-radius: 50%;
  }
  input{
    background-color: red;
    display: block;
    margin-left: 15px;
    margin-right: 5px;
  }
  .right-bt{
    .flex-row-center();
    position: absolute;
    right: 20px;
    top:8px
  }

  .icon-before(@code){
    content: @code;
    font-size: 22px;
    color: #D82228;
    margin-left: 15px;
  }

  // less混合传参
  .refresh-stu{
    .iconfont();
    &::before{
      .icon-before("\e659");
      display: inline-block;
      vertical-align: middle;
    }
  
  }
  .save-stu{
    .iconfont();
    &::before{
      .icon-before("\e67a");
      display: inline-block;
      vertical-align: middle;
    }
  }
  .delete-off{
    .iconfont();
    &::before{
      .icon-before("\e69f");
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.status-canvas{
  height: calc(100% - 40px);

  #mountNode{
    height: 100%;
    width: 100%;
  }

}
